//import fonts
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat Italic';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/montserrat/montserrat-italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: lighter;
    src: url('./assets/fonts/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('./assets/fonts/montserrat/Montserrat-Thin.otf');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-weight: bold;
    src: url('./assets/fonts/montserrat/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat Semibold';
    font-weight: 400;
    src: url('./assets/fonts/montserrat/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('./assets/fonts/montserrat/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Montserrat Black';
    font-weight: bold;
    src: url('./assets/fonts/montserrat/Montserrat-Black.otf');
}