//color
$bg:#FAFAFA;
$purple: #4c1e50;
$purple-light:#8C4799;
$purple-hover:#662869;
$gray: #525252;
$gray-subtitle: #727171;
$gray-label:#737373;
$gray-hint: #9D9D9D;
$input-gray: #464B5B;
$input-disabled:#8C8C8C;