<div class="container-fluid">
    <!-- Banner -->
    <div class="row">
        <!-- mkt mobile -->
        <div class="col-12 p-0 d-block d-lg-none">
            <a href="#">
                <img src="../assets/mkt/banner_mobile.png" class="w-100" alt="Banner">
            </a>
        </div>
        <!-- End mkt mobile -->

        <!-- mkt Desktop -->
        <div class="col-lg-12 banner d-lg-block d-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 offset-lg-2 d-flex align-items-center">
                        <span class="pl-4 font-italic"><i>!Estas a simples pasos de acceder a tu nueva tarjeta Ripley!</i></span>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="../assets/mkt/banner-desktop.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End mkt Desktop -->

    </div>
    <!-- End Banner -->
</div>