<div class="container-fluid">
    <!-- Content -->
    <div class="row mb-lg-5 mt-lg-5 mb-3 mt-4">
        <div class="col-lg-4 offset-lg-4">
            <h2 class="text-center mb-4"><b>¡Felicitaciones!</b></h2>
            <h6 class="text-center">Tienes una tarjeta preaprobada</h6>

            <div class="row">
                <div class="col-lg-6 col-12 text-lg-right text-center">
                    <img src="../../../assets/images/card.png" alt="Tarjeta Ripley">
                </div>
                <div class="col-lg-5 col-12">
                    <p class="txt mt-lg-5 mt-1 mb-0 text-lg-left text-center">Con una línea de crédito de:</p>
                    <p class="credit text-lg-left text-center"><span>S/</span> 7,800.00</p>
                </div>
            </div>


            <h6 class="text-center mt-4 mb-4 mx-4 mx-lg-0">Recuerda que podrás realizar una primera compra en Ripley.com <b>con un valor de hasta S/1,000</b> sin necesidad de contar con la terjeta física</h6>
            <div class="text-center">
                <span class="mat-hint ml-2">Solo necesitamos algunos datos para<br>finalizar tu solicitud online.</span>
            </div>
            <!-- Btn desktop -->
            <div class="text-center mt-lg-4  mt-2 mb-4">
                <button mat-raised-button color="primary" class="mb-3 mt-2 text-center col-lg-6 offset-lg-4 col-6 offset-4">Empezar</button>
            </div>
            <!-- End Btn desktop -->
            <div class="text-center">
                <span class="mat-hint ml-2">Revisa los <a href="#">Términos y condiciones</a>.</span>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>